body {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

.btn {
	padding: 0.5rem 1rem;
	border: 1px solid #57534e;
	border-radius: 10px;
	cursor: pointer;
}

.dashboard-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr)) repeat(2, minmax(200px, 2fr));
	grid-template-rows: repeat(1, minmax(100px, 1fr)) repeat(4, 3fr);
	grid-template-areas:
	"opt profile profile"
	"opt content content"
	"opt content content"
	"opt content content"
	"opt content content";
}

.dashboard-opts {
	background-color: #292524;
	grid-area: opt;
	color: #f5f5f5;
	display: grid;
	grid-template-rows: 2fr 1fr;
}

.dashboard-opts > div > div {
	margin-top: 10px;
	transition: 0.3s;
	width: 100%;
	text-align: center;
}

.developer-info {
	align-self: end;
	margin-bottom: 20px;
}

.div-opt {
	margin-top: 10px;
	padding: 5px;
}

.div-opt:hover {
	background-color: #57534e;
}

.dashboard-opts a {
	text-decoration: none;
	color: inherit;
}

.search-and-profile {
	background-color: #f5f5f5;
	grid-area: profile;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.search-container {
	display: grid;
	grid-template-rows: 3fr 4fr;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.magnify {
	width: 2rem;
	position: relative;
	left: 5rem;
}

#search-input {
	width: 30rem;
	padding: 0.5rem 1rem;
	padding-left: 3rem;
	margin-left: 2rem;
	appearance: none;
	border: 2px solid #a8a29e;
	border-radius: 2rem;
	transition: 0.2s;
	outline: none;
	background-color: #e5e5e5;
}

#search-input:hover {
	border-color: #99f6e4;
	background-color: #f5f5f5;
}

#search-input:focus {
	border-color: #06b6d4;
	background-color: white;
}

.welcome {
	place-self: center;
}

.profile-crud-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.profile {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 2rem;
}

.profile .alarm {
	width: 2rem;
	cursor: pointer;
}

.profile .avatar {
	width: 3rem;
	background-color: red;
	border-radius: 50%;
}

.profile > img {
	margin-right: 1rem;
}

.crud {
	display: flex;
	align-items: center;
	justify-content: center;
}

.crud .btn:nth-child(n+2){
	margin-left: 1rem;
}

.btn-crud {
	transition: .2s;
}

#create-btn {
	background-color: #a3e635;
}

#create-btn:hover {
	background-color: #84cc16;
}

#update-btn {
	background-color: #2dd4bf;
}

#update-btn:hover {
	background-color: #14b8a6;
}

#remove-btn {
	background-color: #f87171;
}

#remove-btn:hover {
	background-color: #ef4444;
}

.dashboard-content {
	background-color: #e7e5e4;
	grid-area: content;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr;
}

.pending-to-read {
	padding-left: 1rem;
	padding-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 10px;
	row-gap: 5px;
	height: 30%;
}

.card-container {
	background-color: #f5f5f4;
	display: flex;
	align-items: center;
	border: 2px solid #e7e5e4;
	border-radius: 10px;
}

.card-container:hover {
	background-color: #fafaf9;
}

.indicator {
	height: 100%;
	width: 1.5rem;
	background-color: yellow;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.content-container {
	margin-left: 1rem;
	overflow: auto;
}

.right-content-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	height: 80%;
}

.topics {
	padding: 1rem;
}

.topics-item-wrapper {
	display: grid;
	grid-template-rows: repeat(autofil, minmax(30px, 1fr));
	background-color: #f5f5f4;
	border-radius: 5px;
}

.topics-item {
	margin-top: 1rem;
	border: 2px solid #f1f5f9;
	border-radius: 5px;
	color: #0f172a;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	background-color: #e2e8f0;
	transition: 0.2s;
}

.topics-item > a {
	color: #0f172a;
}

.topics-item:hover {
	background-color: #cbd5e1;
}

.trending-users-container {
	margin: 1rem;
}

.trending-users {
	padding: 1rem;
	background-color: #f5f5f4;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.trending-item {
	background-color: white;
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.trending-item img {
	width: 3rem;
	border-radius: 50%;
}

.wrapper {
	margin-left: 0.3rem;
	display: flex;
	flex-direction: column;
}